@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Raleway';
    background: linear-gradient(40deg, #547ab8, #c2e9fb, #dbf4ff);
}

.layout{
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 12% 8% 75% 5%;
}

.layout{
    border: 1px solid;
}

header, nav, footer{
    grid-column: span 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: 'Raleway';
    font-weight: 700;
}

.nav-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    grid-column: span 8;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside{
    grid-column: span 1;
    height: 100%;
    display: flex;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.layout > footer{
    border: 1px solid;
}

nav > div{
    height: 100%;
    width: 100%;
    grid-column: span 4;
    position: relative;
}

div > a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container p{
    margin: 0;
}

.main-img{
    position: relative;
    height: 100%;
    width: 100%;
}

.main-img > img{
    position: absolute;
    bottom: 0;
    left: 10px;
    height: 50%;
}

.main-par{
    padding: 20px;
    padding-top: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.main-par > p{
    text-align: left;
    font-size: x-large;
}

@font-face {
    font-family: 'Calgary';
    src: url('/src/static/fonts/Calgary_DEMO.ttf');
}

.table-container{
    height: 100%;
    width: 100%;
    overflow: auto;
}

.table-container td{
    vertical-align: middle;
}

th{
    font-size: x-large;
}

td{
    font-size: larger;
}

td > img{
    height: 100px;
    width: 100px;
}

.employee-card{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.employee-image{
    padding-right: 30px;
}


.employee-details{
    height: 100%;
    text-align: left;
    margin-top: 30px;
    align-items: start;
}

.category{
    font-weight: bold;
    text-decoration: underline;
    font-size: medium;
}

.emp-det-left-container{
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
}

.employee-card > footer{
    position: absolute;
    bottom: 20px;
    left: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottom-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bottom-buttons > * {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-or-next {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height: 40px;
}

.form-container{
    background: linear-gradient(140deg, #547ab8, #c2e9fb, #dbf4ff);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    overflow: auto;
    height: 90%;
    width: 60%;
    text-align: left;
    margin: auto;
}

.form-container input, .form-container textarea, .form-container select {
    margin-bottom: 20px;
}

.error{
    background-color: rgb(124, 0, 0);
    color: white;
    border-radius: 20px;
    border: 1px solid black;
}

.error-message {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    text-transform: uppercase;
    word-spacing: 5px;
    font-size: large;
}

.link-container {
    text-align: center;
    display: inline-block;
}

a.more-link {
    text-transform: uppercase;
    font-size: 24px;
    background-color: #de7e85;
    padding: 10px 10px;
    border-radius: 10px;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
    margin-top: 50px;
    letter-spacing: 1px;
}

.more-link:hover{
    background-color: #e7989e;
}

.register-btn{
    margin-top: 40px;
}

.auth{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    height: 85px;
    width: 450px;
}

.auth *{
    width: 150px;
}
